footer {
    gap: 5%;
    background-color: #a9bfe4;
    padding: 2% 0% 0% 0%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: left;
    color: white;
}

footer img {
    width: 19%;
    height: 20%;
    margin-right: 3%;
    margin-bottom: 2%;
}

.footer-section {
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer h2 {
    font-size: 130%;
    margin-bottom: 2%;
    color: white;
}

footer h3 {
    font-size: 130%;
    font-weight: 300;
    margin: 3% 0%;
    color: white;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
    color: white;
}

.copyright {
    font-size: 160%;
    margin-left: 11%;
    width: 100%;
    text-align: left;
    margin-top: 1%;
    color: white;
}
