@media (max-width: 1420px) {
    footer {
        gap: 1%;
    }
}

@media (max-width: 1353px) {
    .about_us img {
        width:40%;
        margin-bottom: 0%;
        margin-right: 0%;
    }

    .catalog_name h1 {
        font-size: 340%;
        margin-top: 10%;
    }

    footer {
        gap: 1%;
    }
}

@media (max-width: 1305px) {
    .main_menu img {
        width: 50%;
    }
    .main_menu h1 {
        font-size: 330%;
    }

    .main_menu h3 {
        font-size: 160%;

    }

    .but_ton1 {
        font-size: 140%;
    }
    .but_ton2 {
        font-size: 140%;
    }
    .but_ton3 {
        font-size: 140%;
    }

    .about_us img {
        width: 40%;
        margin-right: 0%;
        margin-bottom: 0%;
    }

    .about_us h1 {
        font-size: 330%;
    }
    .about_us h3 {
        font-size: 160%;
    }

    .addv_pic {
        gap: 10%;
    }

    .addv_pic img {
        width: 20%;
    }

    .catalog_name h1 {
        font-size: 310%;
        margin-top: 10%;
    }

    .products {
        padding-left: -5%;
    }
}

@media (max-width: 1200px) {
    .main_menu img {
        width: 48%;
    }

    .main_menu h1 {
        font-size: 290%;
    }

    .main_menu h3 {
        font-size: 150%;

    }

    .but_ton1 {
        font-size: 130%;
    }
    .but_ton2 {
        font-size: 130%;
    }
    .but_ton3 {
        font-size: 130%;
    }

    .about_us img {
        width: 40%;
        margin-right: 0%;
        margin-bottom: 0%;
    }

    .about_us h1 {
        font-size: 290%;
    }
    .about_us h3 {
        font-size: 150%;
    }

    .addv_pic {
        gap: 8%;
    }

    .addv_pic img {
        width: 16%;
    }

    .catalog_name h1 {
        font-size: 310%;
        margin-top: 10%;
    }

    footer {
        gap: 0.05%;
    }

    footer h2 {
        font-size: 110%;
    }

    footer h3{
        font-size: 110%;
    }
}

@media (max-width: 1100px) {
    .main_menu img {
        width: 48%;
    }

    .main_menu h1 {
        font-size: 280%;
    }

    .main_menu h3 {
        font-size: 140%;

    }

    .but_ton1 {
        font-size: 120%;
    }
    .but_ton2 {
        font-size: 120%;
    }
    .but_ton3 {
        font-size: 120%;
    }

    .about_us img {
        width: 40%;
        margin-right: 0%;
        margin-bottom: 0%;
    }

    .about_us h1 {
        font-size: 280%;
    }
    .about_us h3 {
        font-size: 140%;
    }

    .catalog_name h1 {
        margin-top: 10%;
    }
}

@media (max-width: 1000px) {
    .main_menu img {
        width: 45%;
    }

    .main_menu h1 {
        font-size: 280%;
    }

    .main_menu h3 {
        font-size: 130%;

    }

    .about_us img {
        width: 40%;
        margin-right: 0%;
        margin-bottom: 0%;
    }

    .about_us h1 {
        font-size: 270%;
    }
    .about_us h3 {
        font-size: 130%;
    }

    #comments_name h1 {
        font-size: 290%;
    }
    #own_view_name h1 {
        font-size: 290%;
    }
}

@media (max-width: 768px) {
    .main_menu img {
        width: 50%;
    }

    .main_menu h1 {
        font-size: 280%;
    }

    .main_menu h3 {
        font-size: 130%;

    }

    .about_us img {
        width: 40%;
        margin-right: 0%;
        margin-bottom: 0%;
    }

    .about_us h1 {
        font-size: 250%;
    }
    .about_us h3 {
        font-size: 120%;
    }

    #tittle h1 {
        font-size: 160%;
    }

    .addv_pic {
        padding-left: 9%;
    }


}

@media (max-width: 480px) {
    .main_menu img {
        width: 50%;
    }

    .main_menu h1 {
        font-size: 280%;
    }

    .main_menu h3 {
        font-size: 130%;

    }

    .about_us img {
        width: 40%;
        margin-right: 0%;
        margin-bottom: 0%;
    }

    .about_us h1 {
        font-size: 230%;
    }
    .about_us h3 {
        font-size: 120%;
    }

    #tittle h1 {
        font-size: 150%;
    }


}
